.home_content {
  grid-template-columns: 120px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

/* Profile Image */
.home_img {
  background: url("../../assets/my_picture_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  order: 1;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  justify-self: center;
}

/* Anchor tag text Decoration none */
.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home_social-icon {
  font-size: 1.5rem;
  color: var(--title_color);
}

.home_social-icon:hover {
  color: var(--title_color_dark);
}
